.alert-success {
    background-color: green
}

.alert-warning {
    background-color: rgb(255, 0, 0);
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(238, 198, 161);}

nav li a{color: rgb(67, 156, 207)}
input{border-radius: 4px;}
body{
    background-color: rgb(238, 198, 161);
    color: rgb(0, 0, 0);
    

}